.banner {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #002069;
}

.home-logo {
    display: block;
    width: 100px;
    height: 100px;
    background: url(https://media.glassdoor.com/sql/3425890/nuclio-digital-school-squarelogo-1646726789081.png);
    background-size: contain;
    background-color: #002069;
    border-radius: 10px;
    margin-left: 15px;
}

h1 {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 20px;
    color: azure;
}

h5 {
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 30px;
    color: azure;
}

