.head {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ce2c10;
}

.categories {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.browser {
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}

.browser-button {
    background-color:#6c757d;
    border:1px solid #6c757d;
    border-radius:5px;
    color:rgb(255, 255, 255);
    margin-left:10px;
    margin-right:10px;
    padding:5px 5px 5px 5px;
    text-decoration: none;
}

.profile-button {
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:5px;
    color:rgb(0, 0, 0);
    margin-left:5px;
    margin-right:10px;
    padding:5px 5px 5px 5px;
    text-decoration: none;
}

.register-button {
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:5px;
    color:rgb(0, 0, 0);
    margin-left:10px;
    margin-right:10px;
    padding:5px 5px 5px 5px;
    text-decoration: none;

}

.category-link {
    text-decoration: none;
    color: black;
}